<div class="c3-slideshow">
	<ul id="c3-slider">
			<li>
				<img width="930" height="348" class="c3-slide-img-wrapper" src="/assets/slide/back1.jpg"  alt="" />
				<img width="502" height="125" class="sliding-image" src="/assets/slide/img1.png" alt="Why 9Pixel?" />
				<p class="sliding-text">나인픽셀의 수많은 파워디자인 시안으로 고객님의 웹사이트를 차별화 할 수 있습니다.<br />최신 웹표준(<span class="arial">W3C</span>)및 최고급 디자인시안을 적용하여 고객님께 가장 알맞는 저렴한 홈페이지를 제작해 드립니다.</p>
			</li>
			<li>
				<img width="930" height="348" class="c3-slide-img-wrapper" src="/assets/slide/back2.jpg" alt="" />
				<img width="506" height="127" class="sliding-image2" src="/assets/slide/img2.png" alt="Fresh Designs" />
				<p class="sliding-text2" style="margin-left:25px">디자인철학이 담겨있는 고급시안으로 고객님께 가장 적합한 홈페이지를 제작 할 수 있습니다.<br />고민하지마세요! 나인픽셀의 웹사이트 시안이면 더 이상의 디자인을 찾으실 필요가 없습니다.</p>
			</li>
			<li>
				<img width="930" height="348" class="c3-slide-img-wrapper" src="/assets/slide/back3.jpg"  alt="" />
				<img width="539" height="127" class="sliding-image" src="/assets/slide/img3.png" alt="WOW! HTML5" />
				<p class="sliding-text">양방향통신, WEB STORAGE, 멀티태스킹,  시맨틱강화, 멀티미디어지원, DRAG &amp; DROP등의<br />강력한 유연성을 특징으로 하고 있는 차세대 HTML5의 적용(시안선택)</p>
			</li>
			<li>
				<img width="930" height="348" class="c3-slide-img-wrapper" src="/assets/slide/back4.jpg" alt="" />
				<img width="503" height="127" class="sliding-image2" src="/assets/slide/img4.png" alt="Mobile Web" />
				<p class="sliding-text2">고객님의 웹사이트는 모바일입니까? 나인픽셀의 모바일솔루션으로 고객님의 웹사이트를 모바일화 해보세요.<br />어떤 환경에서도 고객님의 웹사이트를 모바일에 최적화하여 웹접근성을 확보해 드립니다.</p>
			</li>
			<li>
				<img width="930" height="348" class="c3-slide-img-wrapper" src="/assets/slide/back5.jpg" alt="" />
				<img width="504" height="125" class="sliding-image" src="/assets/slide/img5.png" alt="W3C Standard" />
				<p class="sliding-text"><span class="arial">W3C</span>의 웹표준을 준수하는 체계적인 <span class="arial">HTML5, XHTML, XML</span>을 철저하게 적용하여 웹페이지에 대한 접근성 <br />및 수정, 보완등을 보다 쉽고 효율적으로 관리 할 수 있도록 해드립니다.</p>
			</li>
			<li>
				<img width="930" height="348" class="c3-slide-img-wrapper" src="/assets/slide/back6.jpg" alt="" />
				<a href="http://vimeo.com/27282303?width=800&amp;height=460" data-rel="prettyPhoto[mainteasers]" title="9pixel" style="position:absolute;top:25px;left:20px;" target="_blank"><img src="/images/ff.jpg" alt="" /></a>
				<img width="350" height="126" class="sliding-image2" alt="" src="/assets/slide/img6.png" alt="Do! 9Pixel" />
				<p class="sliding-text2 arial"  style="margin-left:185px">We Build inspired power, Creative Idea and Modern Technologies,<br />Profitable Business and Successful Partnership</p>
			</li>
		</ul>
	</div>
<div class="c3-controls">
	<span id="c3-resumeButton"><a class="pngfix" title="Play" href="">Play</a></span>
	<span id="c3-pauseButton"><a class="pngfix" title="Pause" href="">Pause</a></span>
	<div id="c3-nav">&nbsp;</div>
</div>