<section id="template_categories">
	<% unless @template_categories.empty? %>
	<% @template_categories.each_slice(10) do |template_category10| %>
	<ul class="template_categories">
		<% template_category10.each do |template_category| %>
		<li>
			<input type="checkbox" id="template_category_<%=template_category.id %>" name="template_category[]" value="<%=template_category.id %>" />
			<label for="template_category_<%=template_category.id %>"><%=template_category.name %></label>
		</li>
		<% end %>
	</ul>
	<% end %>
	<% end %>
	<div>
		<input type="button" value="선택완료" />		
	</div>
</section>
<script type="text/javascript">
	$('#f1 input').each(function(){
		var val1=$(this).val();
		$('#template_categories input').each(function(){
			if(val1==$(this).val())
			$(this).attr('checked','checked');
		});
	});

	$('#template_categories input[type="button"]').click(function(){
		$('#f1').empty();
		$("#template_categories input:checked").each(function(){
			$('#f1').append('<li><input type="hidden" name="template_category_id[]" value="'+$(this).val()+'" />'+$(this).parent().find('label').text()+'</li>');
		});
		oinst.close();
	});
</script>