<div class="box row">
	<div class="box_header">
		<h2>템플릿 검색</h2>
		<div class="box_icon">
			<a href="#" class="btn_minimize"><i class="glyphicon glyphicon-chevron-up"></i></a>
			<a href="#" class="btn_close"><i class="glyphicon glyphicon-remove"></i></a>			
		</div>
	</div>
	<div class="box_content">
<form id="templates_search_form"  action="">
	<fieldset>
		<legend>템플릿 검색</legend>
	<div class="field">
		<label id="label_template_products">상품별</label>
		<ul class="nav nav-pills">
			<% @products.each do |product| %>
			<li <% if(product.id.to_i==params[:product_id].to_i)%>class="active"<% end %>><%=link_to product.title,templates_path(:product_id=>product.id) %></li>
			<% end %>
		</ul>	
	</div>
  <div class="form-group">
		<label id="label_template_categories">분류별</label>
		<ul id="f1">
			<li></li>
		</ul>
		<%=link_to '분류검색',template_types_path,:class=>'modal_link btn btn-large btn-success',:'data-toggle'=>"modal",:'data-target'=>"#myModal" %>
	</div>
  <div class="form-group">
		<label id="label_template_authors">제작자</label>
		<ul id="f2">
			<li></li>
		</ul>
		<%=link_to '제작자검색',template_authors_path,:class=>'modal_link btn btn-large btn-success',:'data-toggle'=>"modal",:'data-target'=>"#myModal" %>
	</div>
  <div class="form-group">
		<input type="submit" value="검색"  class="btn btn-primary" />	
	</div>
	</fieldset>
</form>
	</div>
</div>




