  <div class="jumbotron hero-unit">
    <h1><%=raw t(:home_main_title) %></h1>
    <p class="lead"><%=raw t(:home_main_description) %></p>
    <%=link_to t(:now_get_myhome),new_user_registration_path,:class=>'btn btn-large btn-success' %>
  </div>