<section class="product_slider">
	<div class="top">
		<h2>디자인시안</h2>
		<%=link_to 'more',templates_path,{:title=>'제품 더보기',:class=>'more'} %>
		<a class="next"><span>다음</span></a>
		<a class="prev"><span>이전</span></a>		
	</div>
	
</section>
