<aside id="rite-div">
		<div id="rite-div-mid">
		<!--noticeList-->
		<!--{#inquiryList}-->	
		<!--{#makeProcess}-->
		<!--{#addOn}-->
		<div style="margin-bottom:483px;">&nbsp;</div>
	</div>
</aisde>